{% extends 'userbase.html' %}
{% load static %}
{% block content %}
<h2>{{msg}}</h5>

<p><h4>Taj Hotels Palaces Resorts and Safaris is recognised the world over for delivering exceptional hospitality, an amalgam of world-class refinement inspired by the heritage and nobility of Indian traditions.
<p><h4>With 98 hotels in 61 locations, including India, North America, United Kingdom, Africa, Middle East, Malaysia, Sri Lanka, Maldives, Bhutan and Nepal, our footprint extends across world-renowned landmark properties, best-in-class business hotels, idyllic island and hillside resorts, authentic grand palaces and ecologically sensitive wildlife safaris.



{% endblock %}